/* Styling for the page container */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8d7da;
}

.valentine-container {
  text-align: center;
}

.text-container {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

/* Styling for Yes and No buttons */
.yes-button,
.no-button {
  padding: 12px 25px;
  font-size: 20px;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Hover effect for buttons */
.yes-button:hover,
.no-button:hover {
  background-color: #d35400;
  transform: scale(1.1);
}

/* Floating animation for the No button */
.no-button.floating {
  position: absolute;
  animation: floatAround 3s ease-in-out infinite;
}

@keyframes floatAround {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(300px) translateY(-200px);
  }
  50% {
    transform: translateX(-300px) translateY(200px);
  }
  75% {
    transform: translateX(200px) translateY(100px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}



*::-webkit-scrollbar-thumb:active {
  background-color: #FC4985;
}
/*scroll bar ends*/
